* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}


@font-face {
    font-family: 'Yandex Sans Display';
    src: url('../static/fonts/YandexSansDisplay-Regular.eot');
    src: local('Yandex Sans Display Regular'), local('YandexSansDisplay-Regular'),
        url('../static/fonts/YandexSansDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('../static/fonts/YandexSansDisplay-Regular.woff2') format('woff2'),
        url('../static/fonts/YandexSansDisplay-Regular.woff') format('woff'),
        url('../static/fonts/YandexSansDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Yandex Sans Display';
    src: url('../static/fonts/YandexSansDisplay-Bold.eot');
    src: local('Yandex Sans Display Bold'), local('YandexSansDisplay-Bold'),
        url('../static/fonts/YandexSansDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('../static/fonts/YandexSansDisplay-Bold.woff2') format('woff2'),
        url('../static/fonts/YandexSansDisplay-Bold.woff') format('woff'),
        url('../static/fonts/YandexSansDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap');
body {
    background-color: #F8F8F8;
}

.no-select {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

header {
    z-index: 1000;
    position: fixed;
    top: 0;
    width: 100%;
    height: 74px;
    background-color: #ddecfc;
    padding-right: 110px;
    padding-left: 110px;
}

.nav {
    width: 100%;
    height: 74px;
    display: flex;
    align-items: center;
}

.title {
    font-family: 'Mitr';
    color: #4063C4;
    font-size: 32px;
    font-weight: 700;
    cursor: pointer;
}

.nav-menu {
    margin-left: auto;
}

.menu-item {
    cursor: pointer;
    font-family: 'Yandex Sans Display';
    font-weight: bold;
    font-size: 20px;
    margin-left: 22px;
    color: #141414;
}

.menu-item:hover {
    color: #4063C4;
}


.nav-menu-button {
    margin-left: auto;
    display: none;
}

.more {
    display: flex;
    align-items: center;
    padding-top: 74px;
    z-index: 999;
    position: fixed;
    width: 100%;
    height: 214px;
    background-color: #eaf4ff;
    transform: translateY(-100%);
    transition: transform 0.2s ease-in-out;
}

@media (min-width: 900px) {
    .more {
        display: none;
    }
}

.more.show {
    transform: translateY(0);
}

.container {
    padding-left: 110px;
    padding-right: 110px;
}

.vertical-middle {
    margin: 10px 0;
}

.vertical-last {
    margin-bottom: 10px;
}

.main-picture-container {
    padding-top: 74px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
    font-family: 'Yandex Sans Display';
    font-weight: bold;
    font-size: 28px;
    color: #ffffff;
}

.flex-container {
    position: relative;
    height: 92%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.main-info {
    padding-bottom: 20px;
    width: 600px;
}

.main-author-name {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.main-links {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-links .link {
    cursor: pointer;
    margin: 0 10px;
    width: 20%;
}

.link .text {
    text-align: center;
    margin: 20px 0;
    font-size: 18px;
}

.flex-container-transition {
    display: flex;
    align-items: flex-end;
    height: 10%;
}

.border-transition {
    width: 100%;
    height: 30px;
    background-color: #F8F8F8;
    border-radius: 15px 15px 0 0;
}

.gallery-title {
    font-family: 'Yandex Sans Display';
    font-weight: bold;
    color: #0b0b0b;
    font-size: 44px;
    margin: 50px 0 20px;
}

.gallery-caption {
    font-family: 'Yandex Sans Display';
    font-weight: normal;
    color: #0b0b0b;
    font-size: 24px;
    margin-bottom: 50px;
    width: 70%;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 20px;
    width: 100%;
}

.photo {
    position: relative;
    aspect-ratio: 1 / 1;
    overflow: hidden;
}

.first {
    cursor: pointer;;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #808080;
    border-radius: 7px;
    transition-duration: 0.15s;
    aspect-ratio: 1 / 1;
}

.first:hover {
    background-color: #efefef;
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
    transform-origin: center;
}

.photo .photo-item:hover {
    transform: scale(1.05); 
}

.photo-m img:hover {
    transform: scale(1);
}

footer {
    height: 200px;
    padding-top: 60px;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.links a {
    margin: 0 30px;
}

.copy {
    text-align: center;
    margin: 30px;
    color: #a09a94;
    font-family: 'Yandex Sans Display';
    font-weight: normal;
    font-size: 18px;
}

@media (max-width: 1080px) {
    .title {
        font-size: 28px;
    }
    .nav-menu .menu-item {
        font-size: 20px;
    }

    .nav-menu .middle {
        margin: 0 16px;
    }

    header {
        padding-right: 85px;
        padding-left: 85px;
    }

    .container {
        padding-left: 85px;
        padding-right: 85px;
    }

    .gallery {
        gap: 40px;
    }

    .gallery-title {
        margin: 40px 0;
        font-size: 36px;
    }

    .about-caption {
        font-size: 24px;
    }
}

@media (max-width: 900px) {
    .nav-menu {
        display: none;
    }

    .menu-item {
        font-size: 22px;
    }

    .nav-menu-button {
        display: block;
    }

    header {
        padding-right: 70px;
        padding-left: 70px;
    }

    .container {
        padding-left: 70px;
        padding-right: 70px;
    }

    .gallery {
        gap: 30px;
    }

    .gallery-title {
        margin: 30px 0;
    }

    .about-table {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 768px) {
    .title {
        font-size: 20px;
    }

    header {
        padding-right: 55px;
        padding-left: 55px;
    }

    .container {
        padding-left: 55px;
        padding-right: 55px;
    }

    .menu-item {
        font-size: 18px;
    }

    .gallery {
        gap: 25px;
    }

    .gallery-title {
        margin: 25px 0;
        font-size: 32px;
    }
}

@media (max-width: 560px) {
    .title {
        font-size: 20px;
    }

    header {
        padding-right: 35px;
        padding-left: 35px;
    }

    .container {
        padding-left: 35px;
        padding-right: 35px;
    }

    .menu-item {
        font-size: 16px;
    }

    .gallery {
        gap: 20px;
    }

    .gallery-title {
        margin: 20px 0;
        font-size: 24px;
    }

    .about-caption {
        font-size: 18px;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1001;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.2s;
    visibility: hidden;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}

#fullImage {
    max-width: 90%;
    max-height: 80%;
    margin-bottom: 10px;
}

.image-description {
    color: #fff;
    font-family: 'Yandex Sans Display';
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    max-width: 70%;
    line-height: 1.4em;
}

body.no-scroll {
    overflow: hidden;
}

form {
    width: 100%;
    padding: 50px 35px;
    border: 2px solid #222;
    background-color: #f7f7f7;
    border-radius: 26px;
}

label {
    display: block;
    margin-bottom: 0;
    font-weight: bold;
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 25px;
}

button[type="submit"] {
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 800;
    width: 100%;
    height: 45px;
    background-color: #222;
    border-radius: 10px;
    margin-top: 20px;
    padding: 8px 16px;
    cursor: pointer;
}

input[type="file"] {
    margin-bottom: 10px;
    padding: 5px;
    cursor: pointer;
}
  
.plus-container {
    width: 15%;
    height: 15%;
}

.plus-container img {
    width: 100%;
    height: 100%;
}

/* === Popup === */
.popup {
    display: none;
    position: fixed;
    z-index: 1001;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.popup.open {
    display: block;
}

.popup-content {
    font-family: 'Yandex Sans Display';
    font-size: 24px;
    font-weight: bold;
    position: relative;
    margin: 10% auto;
    width: 340px;
    border-radius: 7px;
}

.popup-content input {
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #848484;
    border-radius: 5px;
}

.popup-content textarea {
    font-size: 14px;
    width: 100%;
    height: 100px;
    resize: none;
    padding: 7px;
    box-sizing: border-box;
    border: 2px solid #848484;
    border-radius: 5px;
    outline: none;
}

.add-button {
    cursor: pointer;
    height: 50px;
    width: 230px;
    background-color: #F8F8F8;
    margin-top: 35px;
    border: 2px solid #808080;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Yandex Sans Display';
    font-weight: bold;
    color: #4e4e4e;
    font-size: 18px;
    transition-duration: 0.1s;
}

.add-button:hover {
    background-color: #efefef;
    /*box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.05);*/
}

.delete-btn:hover {
    background-color: #d13333;
    color: #f1f1f1;
    border-color: #631717;
}

.delete-btn:active {
    background-color: #912323;
    color: #f1f1f1;
    border-color: #631717;
}

.change-description-circle {
    display: flex;
    align-items: center;
    column-gap: 10px;
    cursor: pointer;
}

.change-description-circle img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.add-button-edit {
    position: absolute;
    top: 10px;
    right: 50px;
    cursor: pointer;
    height: 50px;
    width: 350px;
    background-color: #F8F8F8;
    margin-top: 35px;
    border: 2px solid #808080;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Yandex Sans Display';
    font-weight: bold;
    color: #4e4e4e;
    font-size: 18px;
    transition-duration: 0.1s;
}

.add-button-edit:hover {
    background-color: #efefef;
}

.add-button-edit a {
    color: inherit;
}

.edit-img-btn {
    width: 20px;
    height: 20px;
}

.author-photo { 
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 50%;
}

.author-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.favorite {
    width: 60%;
}

/* === Loader === */

#overlay-l {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9000;
}

/* Основные стили для лоадера */
#loader {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    font-size: 24px;
    padding: 20px;
    z-index: 9001;
}

@keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}

.loader-icon {
    width: 60px;
    height: 60px;
    border: 10px solid #4063C4;
    border-top: 10px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

a.description:visited {
    text-decoration: none;
    color: #4e4e4e;
}

a:not(.description) {
    color: #222;
}

a:not(.description):hover {
    color: #4063C4;
}

#my-page {
    display: none;
    cursor: pointer;
    height: 50px;
    width: 230px;
    background-color: #F8F8F8;
    margin-top: 35px;
    border: 2px solid #808080;
    border-radius: 7px;
    justify-content: center;
    align-items: center;
    font-family: 'Yandex Sans Display';
    font-weight: bold;
    color: #4e4e4e;
    font-size: 18px;
    transition-duration: 0.1s;
}

#my-page:hover {
    background-color: #efefef;
    /*box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.05);*/
}

/* Отступ для основного контента, чтобы не перекрывался header */
.main-page-content {
    padding-top: 74px; /* высота header */
}

.gradient-banner{
    background: linear-gradient(0deg, #4063c4, #ddecfc) no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
}

/* Стили для надписи внутри блока градиента */
.gradient-banner-text {
    margin-bottom: 175px;
    color: #fff;
    font-family: 'Yandex Sans Display';
    font-weight: bold;
    font-size: 4rem;
    text-shadow: none;
}

/* Контейнер для поиска, для вертикального позиционирования */
.search-wrapper {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 20px;
}

/* Блок поиска */
.search-container {
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 70vw;       /* 70% от ширины окна */
}

/* Стили для строки поиска */
.search-container input[type="text"] {
    flex: 1;
    padding: 16px 24px;  /* Увеличенный размер */
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 50px;
    font-family: 'Yandex Sans Display';
    font-size: 18px;     /* немного крупнее */
    outline: none;
    transition: border 0.3s ease;
}

/* При фокусе меняется цвет границы */
.search-container input[type="text"]:focus {
    border-color: #4063C4;
}

/* Стили для кнопки */
.search-container button {
    padding: 16px 24px;  /* Соответствует полю ввода */
    border: none;
    background-color: #4063C4;
    color: #fff;
    font-size: 18px;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    white-space: nowrap;
    font-family: 'Yandex Sans Display';
}

/* При наведении цвет кнопки меняется */
.search-container button:hover {
    background-color: #3451A8;
}

.settings {
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 50px;
    height: 50px;
    width: 230px;
    background-color: #F8F8F8;
    margin-top: 35px;
    border: 2px solid #808080;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    font-family: 'Yandex Sans Display';
    font-weight: bold;
    color: #4e4e4e;
    font-size: 18px;
    transition-duration: 0.1s;
}

.settings:hover {
    background-color: #efefef;
}

#change-author-name-btn {
    cursor: pointer;
    height: 22px;
    margin-left: 10px;
}

#change-author-name-btn img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.delete-photo-btn {
    top: 5px;
    right: 7px;
    z-index: 1;
    position: absolute;
    width: 40px;
}

.change-painting-describe-btn {
    top: 50px;
    right: 7px;
    z-index: 1;
    position: absolute;
    width: 40px;
}

.like-painting-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 7px;
    right: 25px;
    z-index: 1;
    position: absolute;
    width: 30px;
    opacity: 0;
    transition-duration: 0.3s;
}

.author-link {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 7px;
    right: 10px;
    z-index: 1;
    position: absolute;
    opacity: 0;
    transition-duration: 0.3s;
}

.photo:hover .author-link {
    opacity: 1;
}

.author-link a {
    font-family: 'Yandex Sans Display';
    font-weight: bold;
    color: #fff;
    margin-right: 5px;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.48);
    border-radius: 10%;
}

.like-painting-btn p {
    font-family: 'Yandex Sans Display';
    font-weight: bold;
    color: #fff;
    margin-right: 5px;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.48);
    border-radius: 10%;
}

.photo:hover .like-painting-btn {
    transition-duration: 0.3s;
    opacity: 1;
}

.delete-page-btn {
    padding: 10px;
    height: 40px;
    background: #4063C4;
    color: #fff;
    font-family: 'Yandex Sans Display';
    font-size: 16px;
    font-weight: normal;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;
}

.liked img{
    content: url("../static/root/redlike.svg");
}

.subscribed img{
    content: url("../static/root/redsub.svg");
}

.avatar {
    margin: 25px 0;
    display: grid;
}

.avatar img {
    width: 230px;
    object-fit: cover;
    aspect-ratio: 1;
    border: 2px solid #808080;
    border-radius: 7px;
}

.hidden {
    display: none;
}

.logout {
    width: 20px;
    height: 20px;
}

.logout img{
    margin-left: 4px;
    margin-top: 3px;
    height: 1em;
}

.author-link a:hover {
    color: white;
}

.photo {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.photo.showItem {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

::-webkit-scrollbar {
    display: none;
}

.abstract {
    opacity: 0.8;
    max-height: 100%;
}

.tooltip {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 100%;
}

.tooltip .tooltiptext {
    font-family: 'Yandex Sans Display';
    font-size: 18px;
    visibility: hidden;
    width: 150px;
    background-color: #f0f0f0;
    color: black;
    text-align: center;
    border: 3px solid #cacaca;
    border-radius: 15px;
    padding: 5px;
    position: absolute;
    z-index: 1000;
    top: 75%;
    left: 46%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 80%;
}

.alert {
    z-index: 1003;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 100px;
    left: calc(50% - 125px);
    width: 250px;
    opacity: 1;
    background-color: #ffffff;
    border-radius: 20px;
    border: black 1px solid;
    transition-duration: 0.3s;
    transform-style: flat;
}

.hidden-alert {
    opacity: 0;
    top: calc(-200px);
}

.input-file-button {
    width: 50%;
    text-align: center;
    display: inline-block;
    padding: 10px 16px;
    color: white;
    background-color: #007bff;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
}

.custom-file-input {
    display: none;
}

.file-name {
    margin-left: 12px;
    font-style: italic;
    color: #555;
}

.input-file-button.default {
    background-color: #007bff;
}

.input-file-button.selected {
    background-color: green;
}

.index-button{
    font-family:'Yandex Sans Display';
    font-weight:bold;
    font-size:24px;
    height:60px;
    padding:10px 15px;
    margin:40px 20px 60px 0;
    border-radius:15px;

    --accent:#3451A8;
    position:relative;
    overflow:hidden;
    background:#fff !important;
    color:#000;
    border:3px solid var(--accent);
    transition:color .35s;
}

.index-button.index-first{
    --accent:#7434a8;
}

.index-button::before{
    content:'';
    position:absolute;
    inset:0;
    background:var(--accent);
    transform:translateX(-100%);
    transition:transform .35s ease;
    z-index:-1;
}

.index-button:hover::before{
    transform:translateX(0);
}

.index-button:hover{
    color:#fff;
    background:transparent !important;
}


/* === HERO-текст с анимированным градиентом === */
.index-text{
    font-family:'Yandex Sans Display';
    font-weight:850;
    font-size:40px;
    line-height:1.15;
    margin:20px 0 0 0;
    width:auto !important;          /* снимаем прежние 70 % */
    max-width:900px;

    background:linear-gradient(90deg,#56bdf5,#4d57c6,#8e48d6,#d44de0,#56bdf5);
    background-size:200% auto;
    -webkit-background-clip:text;
            background-clip:text;
    -webkit-text-fill-color:transparent; /* текст берёт цвет из градиента */
    color:transparent;
    animation:textGradient 6s linear infinite;
}

@keyframes textGradient{
    0%  {background-position: 0 50%;}
    100%{background-position:200% 50%;}
}

/* чуть меньше на телефонах */
@media(max-width:768px){
    .index-text{font-size:36px;}
}

