<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="../static/root/favicon.ico">
    <title>ARTLOOM - Аккаунт</title>
    <link href="https://fonts.googleapis.com/css2?family=Mitr:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script type="module" src="../static/js/utils/errorHandler.js"></script>
</head>
<script type="module" src="../static/js/pages/accountPage.js" onerror="handleScriptError()"></script>
<body>
    <header>
        <div class="nav no-select">
            <span class="title no-select">ARTLOOM</span>
            <span class="nav-menu no-select">
                    <span class="menu-item no-select"><a href="/">главная</a></span>
                    <span class="menu-item no-select"><a href="/search">поиск</a></span>
                    <span class="menu-item no-select" id="pc-username"><a href="/login">вход</a></span>
                </span>
            <span class="nav-menu-button no-select">
                    <img class="no-select" id="menu-icon" src="{{ url_for('static', filename='root/menu.svg') }}"
                         alt="">
                </span>
        </div>
    </header>

    <div class="more no-select" id="more">
        <div class="container no-select">
            <div class="menu-item no-select"><a href="/">главная</a></div>
            <div class="menu-item no-select"><a href="/search">поиск</a></div>
            <div class="menu-item vertical-last no-select" id="mobile-username"><a href="/login">вход</a></div>
        </div>
    </div>


    <div id="main-picture" style="height: 0;" class="main-picture-container no-select"></div>
    <div class="container">
        <div class="avatar no-select" id="avatar"></div>

        <div class="add-button" id="artist-page-button" style="display: none">
            <div>Создать страницу</div>
        </div>
        <div class="add-button" id="my-page" style="display: none">
            <div>Моя страница</div>
        </div>
        <div class="add-button" id="not-my-page" style="display: none">
            <div>Страница художника</div>
        </div>

        <div class="block favorite">
            <div class="gallery-title">Авторы</div>
            <div class="gallery-caption">Тут представлены художники, на которых вы подписались</div>
            <div id="authors" class="gallery no-select"></div>
        </div>
        <div class="block">
            <div class="gallery-title">Избранное</div>
            <div class="gallery-caption ">В этом разделе находятся работы, которые вам понравились</div>
            <div id="gallery" class="gallery no-select"></div>
        </div>
    </div>
    <footer>
        <div class="container no-select" id="contacts">
            <div class="links no-select"></div>
            <div class="copy no-select"></div>
        </div>
    </footer>
    <div class="overlay no-select" id="overlay">
        <img class="no-select" src="" alt="" id="fullImage">
        <div class="image-description no-select" id="imageDescription"></div>
    </div>
    <div class="popup" id="add-page-popup">
        <div class="popup-content">
            <form id="popup-form">
                <label for="popup-title">Псевдоним</label>
                <input type="text" id="popup-title" name="popup-title" maxlength="30" placeholder="Введите псевдоним"/>
                <label for="popup-desc">О себе</label>
                <textarea id="popup-desc" name="popup-desc" placeholder="Расскажите о себе"></textarea>
                <button type="submit" id="popup-submit">СОЗДАТЬ</button>
            </form>
        </div>
    </div>
</body>
</html>