<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="../static/root/favicon.ico">
  <title>ARTLOOM - Главная</title>
  <link href="https://fonts.googleapis.com/css2?family=Mitr:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script type="module" src="../static/js/utils/errorHandler.js"></script>
</head>
<body>
<div id="overlay-l"></div>
<div id="loader">
  <div class="loader-icon"></div>
</div>
<div id="content">
  <header>
    <div class="nav no-select">
      <span class="title no-select">ARTLOOM</span>
      <span class="nav-menu no-select">
                <span class="menu-item no-select"><a href="/">главная</a></span>
                <span class="menu-item no-select"><a href="/search">поиск</a></span>
                <span class="menu-item no-select" id="pc-username"><a href="/login">вход</a></span>
            </span>
      <span class="nav-menu-button no-select">
                <img class="no-select" id="menu-icon" src="{{ url_for('static', filename='root/menu.svg') }}"
                     alt="">
            </span>
    </div>
  </header>

  <div class="more no-select" id="more">
    <div class="container no-select">
      <div class="menu-item no-select"><a href="/">главная</a></div>
      <div class="menu-item no-select"><a href="/search">поиск</a></div>
      <div class="menu-item vertical-last no-select" id="mobile-username"><a href="/login">вход</a></div>
    </div>
  </div>

  <div class="main-page-content">
    <div class="gradient-banner">
      <div class="flex-container">
        <img class="abstract no-select" src="../static/root/abstract.png" alt="">
      </div>
      <div class="flex-container-transition">
        <div class="border-transition"></div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="index-text">Создай свою визитку на Artloom прямо сейчас или смотри работы других авторов!</div>
    <button id="index-register" class="index-button index-first">Создать страницу</button>
    <button id="index-search" class="index-button">Работы других авторов</button>
  </div>
</div>

<script type="module" src="../static/js/pages/index.js" onerror="handleScriptError()"></script>
</body>
</html>
